<!DOCTYPE html>
<html>

<head>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <hr>

    <div id="example">
        <my-component></my-component>
    </div>
    <hr>
    <div id="example2">
        <my-component></my-component>
    </div>
    <hr>
    <div id="example3">
        <table>
            <my-row>...</my-row>
        </table>
    </div>
    <hr>
    <div id="example4">
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
        <simple-counter></simple-counter>
    </div>
    <hr>
    <div id="example5">
            <child message="hello!"></child>
        </div>
    <hr>
</body>





<script>
    // register
    Vue.component('my-component', {
        template: '<div>A custom component!</div>'
    })

    // create a root instance
    new Vue({
        el: '#example'
    })


    var Child = {
        template: '<div>A custom component!</div>'
    }

    new Vue({
        el: '#example2',
        components: {
            // <my-component> will only be available in parent's template
            'my-component': Child
        }
    })

    // register
    var trow = {
        template: '<div>A custom component!</div>'
    }

    // create a root instance
    new Vue({
        el: '#example3',
        components: {
            // <my-component> will only be available in parent's template
            'my-row': trow
        }
    })

    var data = { counter: 0 }

    Vue.component('simple-counter', {
      template: '<button v-on:click="counter += 1">{{ counter }}</button>',
      // data is technically a function, so Vue won't
      // complain, but we return the same object
      // reference for each component instance
      data: function () {
        return {
    counter: 0
  }
      }
    })

    // create a root instance
    new Vue({
        el: '#example4'
    })

    Vue.component('child', {
  // declare the props
  props: ['message'],
  // like data, the prop can be used inside templates and
  // is also made available in the vm as this.message
  template: '<span>{{ message }}</span>'
})



    new Vue({
        el: '#example5'
    })

</script>