<script src="../node_modules/vue/dist/vue.min.js"></script>

<div id="app">
    <h1 v-if="ok">Yes</h1>
    <h1 v-else>No</h1>
</div>
<div id="app2">
    <div v-if="Math.random() > 0.5">
        Now you see me
    </div>
    <div v-else>
        Now you don't
    </div>
</div>
<div id="app3">
    <div v-if="type === 'A'">
        A
    </div>
    <div v-else-if="type === 'B'">
        B
    </div>
    <div v-else-if="type === 'C'">
        C
    </div>
    <div v-else>
        Not A/B/C
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            ok: true
        }
    })

    var vm = new Vue({
        el: '#app2'
    })

    var vm = new Vue({
        el: '#app3',
        data: {
            type: 'F'
        }
    })
</script>