<!DOCTYPE html>
<html>

<head>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
        <hr>
    <div id="example-1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The button above has been clicked {{ counter }} times.</p>
    </div>
    <hr>
    <div id="example-2">
        <!-- `greet` is the name of a method defined below -->
        <button v-on:click="greet">Greet</button>
    </div>
    <hr>
    <div id="example-3">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click="say('what')">Say what</button>
    </div>
<hr>
    <div id="example-4">
        <button v-on:click="warn('Form cannot be submitted yet.', $event)">
            Submit
        </button>
    </div>
    <hr>

    <form action="" id="keys">
            <input v-on:keyup.enter="submit">
            <input @keyup.enter="submit">
            <input @keyup.page-down="onPageDown">
    </form>
    <hr>

    <hr>

    <hr>

</body>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            counter: 0
        }
    })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            name: 'Vue.js'
        },
        // define methods under the `methods` object
        methods: {
            greet: function (event) {
                // `this` inside methods points to the Vue instance
                alert('Hello ' + this.name + '!')
                // `event` is the native DOM event
                if (event) {
                    alert(event.target.tagName)
                }
            }
        }
    })

    new Vue({
        el: '#example-3',
        methods: {
            say: function (message) {
              alert(message)
            }
          }
    })

    new Vue({
        el: '#example-4',
        methods: {
            warn: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()
                alert(message)
              }
        }
    })

    new Vue({
        el: '#keys'
    })



</script>