<!DOCTYPE html>
<html>

<head>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <hr>
    <div id="example-1">
        <input v-model="message" placeholder="edit me">
        <p>Message is: {{ message }}</p>
    </div>
    <hr>
    <div id="example-2">
        <span>Multiline message is:</span>
        <p style="white-space: pre-line;">{{ message }}</p>
        <br>
        <textarea v-model="message" placeholder="add multiple lines"></textarea>
    </div>
    <hr>
    <div id='example-3'>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{ checkedNames }}</span>
    </div>
    <hr>

    <div id='example-4'>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
    </div>
    <hr>

    <div id='example-5'>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>
    <hr>

    <div id='example-6'>
        <input v-model="selected" type="checkbox" v-model="toggle" true-value="yes" false-value="no">
        <span>Selected: {{ selected }}</span>
    </div>
    <hr>



</body>

<script>
    new Vue({
        el: '#example-1',
        data: {
            message: ""
        }
    })

    new Vue({
        el: '#example-2',
        data: {
            message: ""
        }
    })

    new Vue({
        el: '#example-3',
        data: {
            checkedNames: []
        }
    })

    new Vue({
        el: '#example-4',
        data: {
            picked: ''
        }
    })

    new Vue({
        el: '#example-5',
        data: {
            selected: ''
        }
    })

    new Vue({
        el: '#example-6',
        data: {
            selected: ''
        }
    })

</script>