<script src="../node_modules/vue/dist/vue.min.js"></script>


<div id="app">
        <p>{{ obj.foo }}</p>
        <!-- this will no longer update obj.foo! -->
        <button @click="obj.foo = 'baz'">Change it</button>
      </div>


<script>

var data = { a: 1 }
var vm = new Vue({
  el: '#example',
  data: data
})

var obj = {
  foo: 'bar'
}
// causes object to be unable to change
Object.freeze(obj)

new Vue({
  el: '#app',
  data () {
    return {
      obj
    }
  }
})

new Vue({
  data: {
    a: 1
  },
  //others: mounted, updated, and destroyed.
  created: function () {
    // `this` points to the vm instance
    console.log('a is: ' + this.a)
  }
})


</script>