<script src="../node_modules/vue/dist/vue.min.js"></script>
<hr>
<ul id="example-1">
    <li v-for="item in items">
        {{ item.message }}
    </li>
</ul>
<hr>
<ul id="example-2">
    <li v-for="(item, index) in items">
        {{ parentMessage }} - {{ index }} - {{ item.message }}
    </li>
</ul>
<hr>
<ul id="v-for-object" class="demo">
    <li v-for="value in object">
        {{ value }}
    </li>
</ul>
<hr>
<div id="v-for-object2">
    <div v-for="(value, key, index) in object">
        {{ index }}. {{ key }}: {{ value }}
    </div>
</div>
<hr>
<div id="userprofileid">
    <div v-for="(value, key, index) in userProfile">
        {{ key }}: {{ value }}
    </div>
</div>
<hr>
<div id="filtedresults">
    <li v-for="n in evenNumbers">{{ n }}</li>
</div>
<hr>
<div id="filtedresults2">
    <li v-for="n in even(numbers)">{{ n }}</li>
</div>
<hr>

<div id="filtedresults3">
    <span v-for="n in 10">{{ n }} </span>
</div>

<hr>
<div id="forif">
    <ul v-if="todos.length">
        <li v-for="todo in todos">
            {{ todo }}
        </li>
    </ul>
    <p v-else>No todos left!</p>
</div>
<hr>

<script>
    var example1 = new Vue({
        el: '#example-1',
        data: {
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })

    example1.items = example1.items.filter(function (item) {
        return item.message.match(/Foo/)
    })

    example1.items.push({ message: 'Baz' })

    var example2 = new Vue({
        el: '#example-2',
        data: {
            parentMessage: 'Parent',
            items: [
                { message: 'Foo' },
                { message: 'Bar' }
            ]
        }
    })


    new Vue({
        el: '#v-for-object',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })

    new Vue({
        el: '#v-for-object2',
        data: {
            object: {
                firstName: 'John',
                lastName: 'Doe',
                age: 30
            }
        }
    })

    var vm = new Vue({
        el: '#userprofileid',
        data: {
            userProfile: {
                name: 'Anika'
            }
        }
    })

    vm.$set(vm.userProfile, 'age', 27)

    this.userProfile = Object.assign({}, this.userProfile, {
        age: 27,
        favoriteColor: 'Vue Green'
    })

    new Vue({
        el: '#filtedresults',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        computed: {
            evenNumbers: function () {
                return this.numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    new Vue({
        el: '#filtedresults2',
        data: {
            numbers: [1, 2, 3, 4, 5]
        },
        methods: {
            even: function (numbers) {
                return numbers.filter(function (number) {
                    return number % 2 === 0
                })
            }
        }
    })

    new Vue({
        el: '#filtedresults3',
        data: {
            numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        }
    })

    new Vue({
        el: '#forif',
        data: {
            todos: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
        }
    })

</script>