<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>State Transitions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/tween.js@16.3.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/color-js@1.0.3"></script>
    <script src="../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
        <hr>
    <div id="animated-number-demo">
        <input v-model.number="number" type="number" step="20">
        <p>{{ animatedNumber }}</p>
    </div>
<hr>
    <div id="example-7">
        <input v-model="colorQuery" v-on:keyup.enter="updateColor" placeholder="Enter a color">
        <button v-on:click="updateColor">Update</button>
        <p>Preview:</p>
        <span v-bind:style="{ backgroundColor: tweenedCSSColor }" class="example-7-color-preview"></span>
        <p>{{ tweenedCSSColor }}</p>
    </div>
    <hr>
    <div id="example-8">
            <input v-model.number="firstNumber" type="number" step="20"> +
            <input v-model.number="secondNumber" type="number" step="20"> =
            {{ result }}
            <p>
              <animated-integer v-bind:value="firstNumber"></animated-integer> +
              <animated-integer v-bind:value="secondNumber"></animated-integer> =
              <animated-integer v-bind:value="result"></animated-integer>
            </p>
          </div>
    <hr>
    <hr>
    <hr>

    <script>

        new Vue({
            el: '#animated-number-demo',
            data: {
                number: 0,
                animatedNumber: 0
            },
            watch: {
                number: function (newValue, oldValue) {
                    var vm = this
                    function animate() {
                        if (TWEEN.update()) {
                            requestAnimationFrame(animate)
                        }
                    }

                    new TWEEN.Tween({ tweeningNumber: oldValue })
                        .easing(TWEEN.Easing.Quadratic.Out)
                        .to({ tweeningNumber: newValue }, 500)
                        .onUpdate(function () {
                            vm.animatedNumber = this.tweeningNumber.toFixed(0)
                        })
                        .start()

                    animate()
                }
            }
        })

        var Color = net.brehaut.Color

        new Vue({
            el: '#example-7',
            data: {
                colorQuery: '',
                color: {
                    red: 0,
                    green: 0,
                    blue: 0,
                    alpha: 1
                },
                tweenedColor: {}
            },
            created: function () {
                this.tweenedColor = Object.assign({}, this.color)
            },
            watch: {
                color: function () {
                    function animate() {
                        if (TWEEN.update()) {
                            requestAnimationFrame(animate)
                        }
                    }

                    new TWEEN.Tween(this.tweenedColor)
                        .to(this.color, 750)
                        .start()

                    animate()
                }
            },
            computed: {
                tweenedCSSColor: function () {
                    return new Color({
                        red: this.tweenedColor.red,
                        green: this.tweenedColor.green,
                        blue: this.tweenedColor.blue,
                        alpha: this.tweenedColor.alpha
                    }).toCSS()
                }
            },
            methods: {
                updateColor: function () {
                    this.color = new Color(this.colorQuery).toRGB()
                    this.colorQuery = ''
                }
            }
        })

// This complex tweening logic can now be reused between
// any integers we may wish to animate in our application.
// Components also offer a clean interface for configuring
// more dynamic transitions and complex transition
// strategies.
Vue.component('animated-integer', {
  template: '<span>{{ tweeningValue }}</span>',
  props: {
    value: {
      type: Number,
      required: true
    }
  },
  data: function () {
    return {
      tweeningValue: 0
    }
  },
  watch: {
    value: function (newValue, oldValue) {
      this.tween(oldValue, newValue)
    }
  },
  mounted: function () {
    this.tween(0, this.value)
  },
  methods: {
    tween: function (startValue, endValue) {
      var vm = this
      function animate () {
        if (TWEEN.update()) {
          requestAnimationFrame(animate)
        }
      }

      new TWEEN.Tween({ tweeningValue: startValue })
        .to({ tweeningValue: endValue }, 500)
        .onUpdate(function () {
          vm.tweeningValue = this.tweeningValue.toFixed(0)
        })
        .start()

      animate()
    }
  }
})

// All complexity has now been removed from the main Vue instance!
new Vue({
  el: '#example-8',
  data: {
    firstNumber: 20,
    secondNumber: 40
  },
  computed: {
    result: function () {
      return this.firstNumber + this.secondNumber
    }
  }
})



    </script>

    <style>
        .example-7-color-preview {
            display: inline-block;
            width: 50px;
            height: 50px;
        }
    </style>

</body>

</html>