<script src="../node_modules/vue/dist/vue.min.js"></script>


<div id="app">
    <span>Message: {{ msg }}</span>
    <br>
    <span v-once>This will never change: {{ msg }}</span>
</div>


<div id="app2">
    <p>Using mustaches: {{ rawHtml }}</p>
    <p>Using v-html directive:
        <span v-html="rawHtml"></span>
    </p>
</div>


<div id="dynamicId">
    <button v-bind:disabled="isButtonDisabled">Button</button>
</div>

<div id="expressionsja">
    <p> {{ number + 1 }} </p>

    <p> {{ ok ? 'YES' : 'NO' }} </p>

    <p> {{ message.split('').reverse().join('') }} </p>

    <!--   <div v-bind:id="'list-' + id"></div> -->
</div>

<div id="directives">
    <p v-if="seen">Now you see me</p>
</div>

<a v-bind:href="url"> ... </a>

<script>
    new Vue({
        el: '#app',
        data: {
            msg: 'Hello Vue.js!'
        }
    })

    new Vue({
        el: '#app2',
        data: {
            rawHtml: '<span style="color: red">This should be red.</span>'
        }
    })

    new Vue({
        el: '#dynamicId',
        data: {
            isButtonDisabled: 'true'
        }
    })

    new Vue({
        el: '#expressionsja',
        data: {
            number: 5,
            ok: '  ',
            message: 'This is the message'
        }
    })

    new Vue({
        el: '#directives',
        data: {
            seen: true
        }
    })

    new Vue({
        el: '#arguments',
        data: {
            href: {url: "sdfsdfasde"}
        }
    })
</script>