<!DOCTYPE html>
<html>

<head>
    <script src="./vue/dist/vue.min.js"></script>
    <link type="text/css" rel="stylesheet"  href="./materialize-css/dist/css/materialize.min.css" media="screen,projection">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="https://ansome22.gitlab.io" class="brand-logo">
                <svg id="i-chevron-left" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="2">
                    <path d="M20 30 L8 16 20 2" />
                </svg>
            </a>
        </div>
    </nav>

    <!-- Heading -->
    <div class="row" id="sections">
        <div class="col s3">
            <div class="collection">
                <a class="collection-item" v-for="item in sections">
                    {{item.title}}
                </a>
            </div>
        </div>
        <!-- Content-->
        <div class="col s9">
            <div v-for="item in sections" v-bind:class="item.classObject">
                <h3> {{item.title}} </h3>
                <p> {{item.message}} </p>
            </div>
        </div>

    </div>
</body>


<script>
    new Vue({
        el: '#sections',
        data: {
            sections: [
                {
                    title: 'Introduction',
                    message: 'Vue is a progressive framework for building user interfaces. The main reason for why people have chosen the library is its ease of use. Potentially smaller code because you only need to build a skeleton of the site',
                    classObject: {
                        'card-panel': true
                    }
                }, {
                    title: 'Why Use it',
                    message: 'There are many features available in vue including: Creating elements based on conditions like ifs, whiles, etc. Creating elements based on the data you give vue. Vue also has many libraries with their own purpose: including notifications, loaders, icons, calender, video. If you are starting a new feature or refactoring an old one that highly interacts with the DOM. Real time data updates. When you have components that will be reused elsewhere.',
                    classObject: {
                        'card-panel': true
                    }
                },
                {
                    title: 'Why Not Static Site Builder',
                    message: 'Static site builders have similar features by adding html elements by the data you give it, having conditional rendering. With these features whats the point in the user having to do the calculations. Most of the reason comes down to the company of the site needs to have a server dedicated in rebuilding the site. Static site builders also build for all users rather than a more personal site. Another difference is there is a needed server needed to rebuild the site every time there is a change.',
                    classObject: {
                        'card-panel': true
                    }
                },
                {
                    title: 'Why Not Use PHP',
                    message: 'PHP achieves very similar results to what you can do in Vue so what would be the point. Most of the issues come down to you need a server, along with with php there is a delay till the user gets the content because a php server needs time to process the request and create the files needed to complete the request it was given.',
                    classObject: {
                        'card-panel': true
                    }
                }
            ]
        }

    })
</script>

</html>